<div id="login">

    <div class="login">
        <form action="/login" method='post' class='login-form'>

            <input id="username" autocomplete="off" placeholder="Username" class='dark' type="text" name="username">

            <input id="password" autocomplete="off" placeholder="Password" class='dark' type="password" name="password">

            <input type="submit" class='button large' value="Log In">

        </form>

    </div>

</div>